hr{
    clear: both;
}
#bvg_admin_msg{

    border: 2px solid #c00;

    font-weight: bold;
    color: #c00;
}
.admin_block{
    display: none;
}
.admin_block_label{
    clear: both;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
label{
    clear: left;
    display: block;
    float: left;
    padding: 5px;
    width: 80px;
    margin-top: 4px;
    margin-right: 8px;

    border: 1px solid #ddd;
    border-radius: 8px;

    color: #c00;
}
input, select{
    float: left;
    margin-top: 4px;
}

ul.table{
    width: 100%;
}
ul.table span{
    display: inline-block;
}
.table_header span{
    width: 60px;
    padding: 3px;
    border-bottom: 1px solid #777;
    font-weight: bold;
}
.table_row span{
    width: 60px;
    padding: 3px;
    font-weight: normal;
}
.table span.pl_name{
    width: 150px;
}

input.set_score, input.match_winner{
    float: none;
    width: 30px;
}
input.match_winner{
    width: 60px;
}
input.player_name{
    background-color: #fffa90;
    color: #000;
}
input.player_name.loser{
    background-color: #c00;
    color: #fff;
}
input.player_name.winner{
    background-color: #adff2f;
    color: #000;
}

.radio_block label{
    border: 0;
    float: none;
    display: inline;
}
.radio_block span {
    float: left;
    display: inline-block;
    max-width: 250px;
}